:root {
  --background: #f6eeee;
  --hero-text: #fff;
  --navbar: #f0d7d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
}

/* Nav-Bar section */

nav {
  /* position: fixed top; */
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  background-color: var(--navbar);
  align-items: center;
  z-index: 10000;
}

.logo {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
ul#nav-links li {
  display: inline-block;
  justify-content: space-between;
}
ul#nav-links li a {
  color: #2b1f1f;
  text-decoration: none;
  margin-left: 30px;
  text-transform: capitalize;
  font-weight: 100;
  font-size: 1em;
}

ul#nav-links li a:hover {
  color: #6e6565;
  font-size: 1.2em;
  font-weight: 500;
}
ul#nav-links li a.contact {
  background-color: #5f2416;
  color: #fff;
  height: auto;
  padding: 10px;
  margin-right: 4px;
  border-radius: 15px;
  font-weight: 300;
}
ul#nav-links li a.contact:hover {
  font-size: 1em;
}

/* Hero section */

.hero {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      to bottom right,
      rgb(12, 1, 1),
      rgba(55, 21, 21, 0.5),
      rgba(156, 128, 128, 0)
    ),
    url("images/school.jpg");

  height: 600px;
  background-size: cover;
  color: white;
  padding: 20px;
}

.hero-text {
  font-family: "Montserrat", sans-serif;
  color: var(--hero-text);
  padding: 30px;
  position: absolute;
  top: 0;
  height: 100%;
}

/* Testimonial Section */

.testimonial {
  background-color: #f6eeee;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
}

.testimonies {
  position: absolute;
  top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testimonial-heading {
  max-width: 100%;
  height: 150px;
  background-color: var(--hero-text);
}

.testimonial-heading p {
  font-size: 30px;
  padding-top: 30px;
  font-weight: bolder;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #964747 2px solid;
}

.card {
  text-align: center;
  margin: 2rem;
}
.parent-name {
  font-weight: bold;
}

/* School Campus Section */

.campus {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  position: absolute;
  text-align: center;
  top: 1100px;
  padding-bottom: 200px;
}
.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.activities {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 500px;
}
